<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369229067931-fsk4upp3tmerq5hmk7pdt43di98633ua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369229067931-fsk4upp3tmerq5hmk7pdt43di98633ua</string>
	<key>API_KEY</key>
	<string>AIzaSyCDFZetTj4Pk2reFIJg4VsnFz386gx9Rp8</string>
	<key>GCM_SENDER_ID</key>
	<string>369229067931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PostCovidCare</string>
	<key>PROJECT_ID</key>
	<string>post-covid-care</string>
	<key>STORAGE_BUCKET</key>
	<string>post-covid-care.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369229067931:ios:b973f03adfb77231eef83e</string>
</dict>
</plist>